.list a.item
{
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
}

.firstbar {
  width:2px;
  height:8px;
  margin-right: 2%;
}

.secondbar {
  width:2px;
  height:12px;
  margin-right: 2%;
}

.thirdbar {
  width:2px;
  height:16px;
}


